@media(max-width: 991px){
    .service-section .service-item{
        flex: 0 0 50%;
        max-width: 50%;
        transition: ease all .5s;
    }
    .jobs-section .jobs-item{
        flex: 0 0 50%;
        max-width: 50%;
        transition: ease all .5s;
    }
}

@media(max-width: 767px){
    .contact-section .w-50,
    .jobs-poup .description,
    .service-section .service-item,
    .about-section .skills .skill-item,
    .about-section .about-info,
    .about-section .about-img,
    .home-section .home-text,
    .home-section .home-img{
        flex: 0 0 100%;
        max-width: 100%;
        transition: ease all .5s;
    }
    .home-section .home-text{
        order: 2;
    }
    .contact-section .submit-btn,
    .home-section .home-text{
        text-align: center;
        transition: ease all .5s;
    }
    .home-section .full-screeen{
        padding:  100px 0;
        transition: ease all .5s;
    }
    .home-section .home-img .img-box{
        margin-bottom: 40px;
        max-width: 350px;
        transition: ease all .5s;
    }
    .effect-3{
        margin-left: -60px;
        transition: ease all .5s;
    }
    .effect-4{
        left: 15%;
        transition: ease all .5s;
    }
    .effect-5{
        right: 4%;
        transition: ease all .5s;
    }
    .about-section .about-img{
        padding-bottom: 30px;
        transition: ease all .5s;
    }
    .about-section .about-tabs{
        padding: 45px 15px 20px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:nth-child(odd){
        padding-right: 15px;
        text-align: left;
        padding-left: 75px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:nth-child(even){
        padding-left: 75px;
        transition: ease all .5s;
    }
    .about-section .timeline:before{
        left: 35px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .icon{
        right: auto;
        left: -60px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:nth-child(even) .icon{
        left: -60px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item{
        margin-bottom: 30px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item-inner{
        padding: 18px;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:last-child{
        margin-bottom:  0;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
        left: -30px;
        right: auto;
        transition: ease all .5s;
    }
    .about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
        left: -30px;
        right: auto;
        transition: ease all .5s;
    }
    .contact-section .contact-item{
        flex: 100%;
        max-width: 100%;
        transition: ease all .5s;
    }
    .contact-section .contact-item-inner{                                             
        padding: 10px 15px;
        transition: ease all .5s;
    }
}

@media(max-width: 574px){
    .home-section .home-img .img-box{
        max-width: 260px;
        transition: ease all .5s;
    }
    .home-section .home-text h2{
        font-size: 40px;
        transition: ease all .5s;
    }
    .about-section .skills-section-title h1{
        font-size: 16px;
        transition: ease all .5s;
    }
    .about-section .skills-svg{
        height: 45px;
        width: 45px;
        margin: 5px 8px;
        transition: ease all .5s;
    }
    .service-section .service-item-inner{
        padding: 20px 10px;
        transition: ease all .5s;
    }
    .service-section .service-item-inner .icon{
        margin: 0 auto 10px;
        transition: ease all .5s;
    }
    .jobs-section .jobs-item-inner{
        padding: 5px;
        cursor: pointer;
        width: 100%;
        transition: ease all .5s;
    }
    .jobs-section .jobs-item{
        flex: 100%;
        max-width: 100%;
        padding: 15px;
        display: flex;
        flex-wrap: wrap;
        transition: ease all .5s;
    }
    .jobs-popup .pp-prev{
        left: 50px;
        transition: ease all .5s;
    }
    .jobs-popup .pp-next{
        right: 15px;
        transition: ease all .5s;
    }
    .jobs-popup .pp-title{
        text-align: center;
        transition: ease all .5s;
    }
    .jobs-popup .pp-project-details h3{
        text-align: center;
        transition: ease all .5s;
    }
    .jobs-section .jobs-filter{
        padding: 0;
        transition: ease all .5s;
    }
}


