/*-----
hidden elements
------*/
.hidden{
  display: none;
}

/*-----
Colors
------*/
:root{
  --skin-color-01:#D4F0FC;
  --skin-color-02:#89D6FB;
  --skin-color-03:#02A9F7;
  --skin-color-04:#02577A;
  --skin-color-05:#01303F;
}
:root{
  --bg-black-900: #000000;
  --bg-black-100: #dddddd;
  --bg-black-50: #eff0f4;
  --bg-opacity: rgba(255, 255, 255, 0.5);
  --text-black-900: #000000;
  --text-black-700: #555555;
  --text-black-600: #666666;
  --text-black-300: #bbbbbb;
  --outer-shadow: 3px 3px 3px #d0d0d0, -3px -3px 3px #f8f8f8;
  --outer-shadow-0: 0 0 0 #d0d0d0, 0 0 0 #f8f8f8;
  --inner-shadow: inset 3px 3px 3px #d0d0d0, inset -3px -3px 3px #f8f8f8;
  --inner-shadow-0: inset 0 0 0 #d0d0d0, inset 0 0 0 #f8f8f8;
}

/*-----
fonts
------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');

/*-----
Raleway Font Numbers Align
------*/
.raleway-number {
  font-variant-numeric: lining-nums;
  -moz-font-feature-settings:"lnum" 1; 
  -moz-font-feature-settings:"lnum=1"; 
  -ms-font-feature-settings:"lnum" 1; 
  -o-font-feature-settings:"lnum" 1; 
  -webkit-font-feature-settings:"lnum" 1; 
  font-feature-settings:"lnum" 1;
  }

/*-----
global style
------*/
body{
  font-size: 16px;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: var(--bg-black-50);

}
body.hidden-scrolling{
  overflow-y: hidden;
}
*:not(i){
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}
:before, :after{
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
ul{
  list-style:none;
  margin: 0;
  padding: 0;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
img{
  vertical-align: middle;
  max-width: 100%;
}
.container{
  position: relative;
  max-width: 1140px;
  margin: auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between{
  justify-content: space-between;
}
.outer-shadow{
  box-shadow: var(--outer-shadow);
}
.inner-shadow{
  box-shadow: var(--inner-shadow);
}
.hover-in-shadow{
  position: relative;
  z-index: 1;
}
.hover-in-shadow:hover{
  box-shadow: var(--outer-shadow-0);
}
.hover-in-shadow:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease;
 
}
.hover-in-shadow:hover:after{
  box-shadow: var(--inner-shadow);
}
.align-items-center{
  align-items: center;
}
/*mais sobre mim btn*/
.btn-1{
  padding: 10px 15px;
  font-size:16px;
  font-weight: 500;
  color: var(--skin-color-05);
  background-color: var(--bg-black-50);
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  border: none;
}
/* meus servicos btn */
.btn-2{
  padding: 10px 25px;
  margin: 10;
  font-size:16px;
  font-weight: 500;
  color: var(--skin-color-05);
  background-color: var(--bg-black-50);
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
}
/* whatsapp btn */
.btn-3{
  padding: 10px 25px;
  margin: 10;
  font-size:16px;
  line-height: 1.5;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  background-color: var(--bg-black-50);
}
.bold{
  font-weight: 600 !important;
}
.effect-wrap .effect{
  position: absolute;
  z-index: -1;
}
.effect-1{
  width: 30px;
  height: 30px;
  border: 4px solid var(--skin-color-03);;
  right: 10%;
  bottom: 10%;
  animation: spin 20s linear infinite;
}
.effect-2{
  left: 3%;
  bottom: 20%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topBounce 7s ease-in-out infinite;
}
.effect-2 div{
  width: 3px;
  height: 3px;
  background-color: var(--skin-color-02);
  margin: 0 3px 8px;
}
.effect-3{
  width: 180px;
  height: 180px;
  border: 25px solid var(--skin-color-04);
  border-radius: 50%;
  left: 50%;
  top: -120px;
  animation: leftBounce 7s ease-in-out infinite;
}
.effect-4{
  border-top: 30px solid transparent;
  border-left: 30px solid var(--skin-color-02);
  left: 30%;
  top: 20%;
  animation: spin 25s linear infinite;
}
.effect-4:before{
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid var(--skin-color-03);
  position: absolute;
  opacity: 0.5;
  left: -35px;
  top: -25px;
}
.effect-5{
  height: 50px;
  width: 50px;
  right:10%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 15s linear infinite;
}
.effect-5 div{
  width: 1px;
  background-color: #4dd0e1;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes topBounce{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(25px);
  }
}
 @keyframes leftBounce{
  0%,100%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(25px);
  }
}
@keyframes fadeInTop{
  0%{
    opacity: 0;
    transform: translateY(-25px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
.section-title{
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
  margin-bottom: 30px;
}
.section-title h2{
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  color: var(--skin-color-05);
  text-transform: uppercase;
  margin: 0px;
}
.section-title h2:before{
  content: attr(data-heading);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: var(--skin-color-04);
}
.section.hide{
  display: none;
}

/*-----
preloader
-----*/
#diamond {
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-bottom-color: var(--skin-color-04);
  position: relative;
  top: -50px;
}
#diamond:after {
  content: '';
  position: absolute;
  left: -15px;
  top: 15px;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: var(--skin-color-04);
}
.preloader{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1500;
  background-color: var(--bg-black-50);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preloader .fade-out{
  opacity: 0;
  transition: all 0.6s ease;
}
.preloader .box{
  width: 100px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.preloader .box div{
  font-size: 40px;
  height: 50px;
  width: 50px;
  color: var(--skin-color-04);
  animation: loaderAni 1s ease infinite;
}
.preloader .box div:nth-child(2){
  animation-delay: 0.1s;
}
.preloader .box div:nth-child(3){
  animation-delay: 0.2s;
}
.preloader .box div:nth-child(4){
  animation-delay: 0.3s;
}
@keyframes loaderAni{
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-30px);
  }
}

/*-----
header
-----*/
.header{
  padding: 20px 15px;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.header .logo a{
  display: inline-block;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
}
.header .hamburger-btn{
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  transition: all 0.3s ease;
}
.header .hamburger-btn span{
  display: block;
  height: 2px;
  width: 16px;
  background-color: var(--bg-black-900);
  position: relative;
}
.header .hamburger-btn span:before,
.header .hamburger-btn span:after{
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-900);
}
.header .hamburger-btn span:before{
  top: -6px;
}
.header .hamburger-btn span:after{
  top: 6px;
}
/*-----
navigation menu
-----*/
.nav-menu{
  position: fixed;
  background-color: var(--bg-black-50);
  padding: 0 15px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
}
.fade-out-effect{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-black-50);
  z-index: -1;
  visibility: hidden;
}
.fade-out-effect.active{
  visibility: visible;
  z-index: 1000;
  animation: fadeOut 0.3s ease-out;
}
@keyframes fadeOut{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
.nav-menu.open{
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all 0.3s ease-in;
}
.nav-menu .close-nav-menu{
  height: 35px;
  width: 40px;
  display: block;
  font-size: 35px;
  line-height: 35px;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  text-align: center;
  color: var(--skin-color-05);
  transition: all 0.3s ease;
}
.nav-menu .close-nav-menu:hover{
  color: var(--skin-color-03);
}
.nav-menu-inner{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-menu ul{
  padding: 15px;
}
.nav-menu ul li{
  display: block;
  margin-bottom: 20px;
  text-align: center;
}
.nav-menu ul li:last-child{
  margin-bottom: 0px;
}
.nav-menu ul li a{
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  color: var(--skin-color-05);
  margin-bottom: 0px;
  padding: 5px 30px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}
.nav-menu ul li a.active{
  color: var(--skin-color-04);
}
.nav-menu ul li a:hover{
  color: var(--skin-color-03);
}

/*-----
home section
-----*/
.home-section{
  position: relative;
}
.home-section .full-screen{
  padding: 70px 0px;
  min-height: 100vh;
}
.home-section .home-text,
.home-section .home-img{
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 15px;
}
.home-section .home-text p{
  color: var(--skin-color-05);
  font-size: 18px;
  text-transform: capitalize;
  margin: 0;
}
.home-section .home-text h2{
  font-size: 55px;
  font-weight: 700;
  color: var(--skin-color-05);
  margin: 0;
}
.home-section .home-text h1{
  font-size: 20px;
  font-weight: 500;
  color: var(--text-black-700);
  margin: 0;
}
.home-section .home-img .img-box{
  max-width: 450px;
  display: block;
  margin: auto;
  border-radius: 50%;
  padding: 8px;
}
.home-section .home-text .btn-1{
  margin-top: 30px; 
}
.home-section .home-img .img-box img{
  width: 100%;
  border-radius: 50%;
  border: 10px solid transparent;
}
.home-section .background-logo{
  position: absolute;
  height: 100vh;
  z-index: -1;
  left: -350px;
  opacity: 0.1;
}
/*-----
About
-----*/
.about-section{
  padding: 80px 0 0px;
  min-height: 100vh;
  overflow: hidden;
}
.about-section .background-logo{
  position: absolute;
  z-index: -1;
  top: -350px;
  left: -350px;
  opacity: 0.1;
}
.about-section .about-img{
  flex: 0 0 40%;
  max-width: 40%;
  padding: 0 15px;
}
.about-section .about-img .img-box{
  padding: 8px;
}
.about-section .about-img .img-box img{
  width: 100%;
  border: 10px solid transparent;
}
.about-section .about-img .social-links{
  margin-top: 20px;
  text-align: center;
}
.about-section .about-img .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: var(--skin-color-05);
  margin: 0 4px;
  transition: all 0.3s ease;
}
.about-section .about-img .social-links a:hover{
  color: var(--skin-color-03);
}
.about-section .about-img .social-links a i{
  line-height: 40px;
}

.about-section .about-info{
  flex: 0 0 60%;
  max-width: 60%;
  padding: 0 15px;
}
.about-section .about-info p{
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 15px;
  color: var(--text-black-600);
}
.about-section .about-info span{
  font-weight: 600;
}
.about-section .about-info a{
  color: var(--skin-color-04);
}
.about-section .about-contact-info{
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}
.about-section .about-tabs{
  padding: 60px 15px 30px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.about-section .about-tabs .tab-item{
  display: inline-block;
  margin: 0 5px 10px;
  cursor: pointer;
  padding: 5px 10px;
  transition: all 0.3s ease;
  font-size: 16px;
  color: var(--text-black-600);
  font-weight: 500;
  text-transform: capitalize;
}
.about-section .about-tabs .tab-item:hover:not(.active){
  opacity: 0.6;
}
.about-section .about-tabs .tab-item.active{
  color: var(--skin-color-04);
  background-color: var(--bg-black-50);
}
.about-section .tab-content{
  flex: 0 0 100%;
  max-width: 100%;
  display: none;
}
.about-section .tab-content.active{
  display: block;
  animation: fadeInTop 0.5s ease;
}
.about-section .skills{
  padding: 0 0 40px;
}
.about-section .skills-section-group{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  margin: 20px;
}
.about-section .skills-section-title h1{
  font-weight: 700;
  color: var(--text-black-700);
  text-transform: uppercase;
  font-size: 22px;
}
.about-section .skills-svg{
  height: 60px;
  width: 60px;
  margin: 10px 18px;
}
.about-section .education,
.about-section .experience{
  padding-bottom: 80px;
}
.about-section .timeline{
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
}
.about-section .timeline:before{
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  left: 50%;
  top: 0;
  background-color: var(--bg-black-100);
}
.about-section .timeline .timeline-item{
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 15px;
}
.about-section .timeline .timeline-item:nth-child(odd){
  padding-right: calc(50% + 50px);
  text-align: right;
}
.about-section .timeline .timeline-item:nth-child(even){
  padding-left: calc(50% + 50px);
}
.about-section .timeline .timeline-item-inner{
  padding: 30px;
  border-radius: 5px;
  position: relative;
  background-color: var(--bg-black-50);
}
.about-section .timeline .timeline-item-inner:before{
  content: '';
  position: absolute;
  background-color: var(--bg-black-100);
  width: 30px;
  height: 1px;
  top: 37px;
  z-index: -1;
}
.about-section .timeline .timeline-item:nth-child(odd) .timeline-item-inner:before{
  right: -30px;
}
.about-section .timeline .timeline-item:nth-child(even) .timeline-item-inner:before{
  left: -30px;
}

.about-section .timeline .timeline-item-inner .icon{
  height: 40px;
  width: 40px;
  text-align: center;
  border: 1px solid var(--bg-black-100);
  line-height: 40px;
  font-size: 16px;
  position: absolute;
  color: var(--skin-color-04);
  top: 18px;
  background-color: var(--bg-black-50);
}
.about-section .timeline .timeline-item:nth-child(odd) .icon{
  right: -70px;
}
.about-section .timeline .timeline-item:nth-child(even) .icon{
  left: -70px;
}
.about-section .timeline .timeline-item-inner span{
  font-weight: 500;
  color: var(--skin-color-04);
  margin: 0 0 10px;
}
.about-section .timeline .timeline-item-inner h3{
  font-size: 20px;
  color: var(--text-black-700);
  font-weight: 600;
  margin: 0 0 5px;
}
.about-section .timeline .timeline-item-inner h4{
  font-size: 16px;
  font-style: italic;
  color: var(--text-black-600);
  margin: 0;
}
.about-section .timeline .timeline-item-inner p{
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 15px 0 0;
}

/*-----
Services
-----*/
.service-section .background-logo{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  height: 100vh;
  z-index: -1;
  opacity: 0.1;
}
.service-section{
  padding:  80px 0 80px;
  min-height: 100vh;
}
.service-section .service-item{
  flex: 0 0 33%;
  max-width: 33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.service-section .service-item-inner{
  padding: 50px 15px;
  text-align: center;
  background-color: var(--bg-black-50);
}
.service-section .service-item-inner .icon{
  height: 60px;
  text-align: center;
  width: 60px;
  border-radius:50%;
  transition: all 0.3s ease;
  display: block;
  margin: 0 auto 30px;
  position: relative;
}
.service-section .service-item-inner .icon:after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: all 0.3s ease;
}
.service-section .service-item-inner:hover .icon{
  box-shadow: var(--inner-shadow);
}
.service-section .service-item-inner:hover .icon:after{
  box-shadow: var(--outer-shadow-0);
}
.service-section .service-item-inner .icon i{
  font-size: 25px;
  line-height: 60px;
  transition: all 0.3s ease;
  color: var(--skin-color-04);
}
.service-section .service-item-inner:hover .icon i{
  color: var(--skin-color-03);
}
.service-section .service-item-inner h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--skin-color-05);
  margin: 0 0 10px;
}
.service-section .service-item-inner p{
  font-size: 16px;
  color: var(--skin-color-05);
  margin: 0;
  line-height: 26px;
}

/*-----
jobs
-----*/
.jobs-section .background-logo{
  position: absolute;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  height: 100vh;
  z-index: -1;
  opacity: 0.1;
}
.jobs-section{
  padding: 80px 0 80px;
  min-height: 100vh;
}
.jobs-section .section-title{
  margin-bottom: 40px;
}
.jobs-section .jobs-item-title, .jobs-section .jobs-item-title-video{
  text-align: center;
}
.jobs-section .jobs-filter{
  padding: 0 15px;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: center;
}
.jobs-section .filter-item{
  display: inline-block;
  margin: 0 5px 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
  color: var(--text-black-600);
  text-transform: capitalize;
  font-size: 16px;
  transition: all 0.3s ease;
}
.jobs-section .filter-item:hover:not(.active){
  opacity: 0.6;
}
.jobs-section .filter-item.active{
  color: var(--skin-color-04);
  background-color: var(--bg-black-50);
}
.jobs-section .jobs-item{
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
}
.jobs-section .jobs-item.hide{
  display: none;
}
.jobs-section .jobs-item.show{
  display: block;
  animation: fadeInTop 0.5s ease;
}
.jobs-section .jobs-item-inner, .jobs-section .jobs-item-inner-video{
  padding: 10px;
  cursor: pointer;
  width: 100%;
  background-color: var(--bg-black-50);
  z-index: 0;
}
.jobs-section .jobs-item-img img, .jobs-section .jobs-item-img-video img{
  width: 100%;
  transition: all 0.3s ease;
  z-index: 2;
}
.jobs-section .jobs-item-inner:hover .jobs-item-img img, .jobs-section .jobs-item-inner-video:hover .jobs-item-img-video img{
  transform: translateY(-14px);
  z-index: 2;
}
.jobs-section .jobs-item-img, .jobs-section .jobs-item-img-video{
  position: relative;
}
.jobs-section .jobs-item-img .view-project, .jobs-section .jobs-item-img-video .view-project-video{
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  color: var(--skin-color-05);
  transition: all 0.3s ease;
  position: absolute;
  left: 38%;
  bottom: -12px;
  transform: translateY(-5px);
  z-index: 1;
  opacity: 0;
}
.jobs-section .jobs-item-inner:hover .view-project, .jobs-section .jobs-item-inner-video:hover .view-project-video{
  transform: translateY(0px);
  opacity: 1;
}
.jobs-section .jobs-item-details, .jobs-section .jobs-item-details-video{
  display: none;
}
.jobs-section .jobs-item-inner p,.jobs-section .jobs-item-inner-video p{
  font-size: 18px;
  margin: 10px 0 0;
  color: var(--text-black-600);
  text-transform: capitalize;
}

/*-------------
jobs popup
-------------*/
.jobs-popup-video iframe{
  position: relative;
  width: 640px;
  height: 640px;
  overflow: auto;
}
.jobs-popup, .jobs-popup-video{
  background-color: var(--bg-black-50);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}
.jobs-popup .pp-loader, .jobs-popup-video .pp-loader-video{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1005;
  background-color: var(--bg-opacity);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
}
.jobs-popup .pp-loader.active, .jobs-popup-video .pp-loader-video.active{
  visibility: visible;
  opacity: 1;
}
.jobs-popup .pp-loader div,.jobs-popup-video .pp-loader-video div{
  height: 40px;
  width: 40px;
  border: 3px solid var(--skin-color-04);
  border-radius: 50%;
  border-right: 3px solid transparent;
  animation: spin 2s linear infinite;
}
.jobs-popup.open, .jobs-popup-video.open{
  visibility: visible;
  opacity: 1;
}
.jobs-popup .pp-details, .jobs-popup-video .pp-details-video{
  max-width: 720px;
  margin: auto;
  /*max-height: 300px;*/
  overflow: hidden;
  opacity: 1;
  transition: all 0.5s ease;
}
.jobs-popup .pp-details.active,.jobs-popup-video .pp-details-video.active{
  opacity: 1;
}
.jobs-popup .pp-details-inner, .jobs-popup-video .pp-details-inner-video{
  padding: 30px 0 16px;
}
.jobs-popup .pp-title, .jobs-popup-video .pp-title-video{
  display: flex;
  justify-content: center;
  padding: 0 10px; 
  border-bottom: 1px solid var(--text-black-300);
}
.jobs-popup .pp-title h2, .jobs-popup-video .pp-title-video h2{
  font-size: 28px;
  color: var(--skin-color-05);
  text-transform: capitalize;
  font-weight: 600;
  margin: 5px;
}
.jobs-popup .pp-project-details h3, .jobs-popup-video .pp-project-details-video h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--text-black-700);
  margin: 10px 0 15px;
}
.jobs-popup .pp-title p, .jobs-popup-video .pp-title-video p{
  font-size: 14px;
  font-weight: 600;
  color: var(--text-black-600);
  margin: 0 0 15px;
  border-bottom: 1px solid var(--text-black-300);
  padding-bottom: 10px;
}
.jobs-popup .pp-title p span, .jobs-popup-video .pp-title-video p span{
  font-weight: 400;
  text-transform: capitalize;
}
.jobs-popup .description, .jobs-popup-video .description-video{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 15px;
}
.jobs-popup .description p, .jobs-popup-video .description-video p{
  font-size: 16px;
  color: var(--text-black-600);
  line-height: 26px;
  margin: 0;
}
.jobs-popup .description span, .jobs-popup-video .description-video span{
  color: var(--skin-color-05);
}
.jobs-popup .description span:hover, .jobs-popup-video .description-video span:hover{
  color: var(--skin-color-03);
}
.jobs-popup .info, .jobs-popup-video .info-video{
  padding: 10px 15px;
}
.jobs-popup .info ul li, .jobs-popup-video .info-video ul li{
  display: block;
  font-weight: 600;
  color: var(--text-black-600);
  font-size: 16px;
}
.jobs-popup .info ul li span, .jobs-popup-video .info-video ul li span{
  font-weight: 400;
}
.jobs-popup .info ul li a, .jobs-popup-video .info-video ul li a{
  color: var(--skin-color-04);
}
.jobs-popup .info ul li:last-child, .jobs-popup-video .info-video ul li:last-child{
  margin-bottom: 0;
}
.jobs-popup .separator, .jobs-popup-video .separator-video{
  height: 1px;
  width: 100%;
  display: block;
  background-color: var(--bg-black-100);
}
.jobs-popup .pp-img{
  max-width: 100%;
  max-height: 550px;
  width: auto;
  height: auto;
  padding: 10px;
}
.jobs-popup .pp-main, .jobs-popup-video .pp-main-video{
  min-height: 10vh;
  max-width: 1350px;
  width: 98%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.jobs-popup .pp-main-inner, .jobs-popup-video .pp-main-inner-video{
  padding: 0 0 30px;
  position: relative;
}

.jobs-popup .pp-close, .jobs-popup-video .pp-close-video{
  position: absolute;
  margin-right: 5px;
  right: 0;
  height: 40px;
  width: 40px;
  top: 6px;
  text-align: center;
  line-height: 40px;
  font-size: 35px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--skin-color-04)
}
.jobs-popup .pp-counter, .jobs-popup-video .pp-counter-video{
  position: absolute;
  right: 0px;
  height: 40px;
  line-height: 70px;
  bottom: 5px;
  font-size: 16px;
  color: var(--text-black-600);

}
.jobs-popup .pp-prev, .jobs-popup-video .pp-prev-video{
  position: block;
  top: 50%;
  height: 40px;
  text-align: left;
  font-size: 20px;
  cursor: pointer;
  z-index: 1010;
  color: var(--skin-color-05);
  transition: all 0.3s ease;
  opacity: 0.5s;
}
.jobs-popup .pp-next, .jobs-popup-video .pp-next-video{
  position: block;
  top: 50%;
  height: 40px;
  text-align: right;
  font-size: 20px;
  cursor: pointer;
  z-index: 1010;
  color: var(--skin-color-05);
  transition: all 0.3s ease;
  opacity: 0.5s;
}
.jobs-popup .pp-prev:hover, .jobs-popup .pp-next:hover, .jobs-popup-video .pp-prev-video:hover, .jobs-popup-video .pp-next-video:hover{
  color: var(--skin-color-03);
}
.jobs-popup .pp-prev i, .jobs-popup .pp-next i, .jobs-popup-video .pp-prev-video i, .jobs-popup-video .pp-next-video i{
  line-height: 40px;
}
.jobs-popup .pp-prev i, .jobs-popup-video .pp-prev-video i{
  transform: rotate(180deg);
}
.jobs-popup .pp-prev, .jobs-popup-video .pp-prev-video{
  left: 15px;
}
.jobs-popup .pp-next, .jobs-popup-video .pp-next-video{
  right: 15px;
}